.hamburger{
    padding: .4rem;
    border: 1px solid $dark-violet;

    &.active{
        
        
        .hamburger__line{

            &--1{
                transform: rotate(-45deg) translate(-.3rem, 0.3rem);
            }
            &--2{
                opacity: 0;
                transform: scale(0);
            }
            &--3{
                transform: rotate(45deg) translate(-0.18rem, -.3rem);
            }
        }
    }

    &__line{
        display: block;
        width: 1.4rem;
        height: 2px;
        background-color: $dark-violet;
        transition: all .2s;
        
        &:not(:last-child){
            margin-bottom: 4px;
        }
    }
}